# Local database connection (when running django outside Docker)
PEPTIDE_DB=peptides_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Docker internal database connection
DOCKER_POSTGRES_EXTERNAL_PORT=5433
DOCKER_POSTGRES_PORT=5432
DOCKER_POSTGRES_HOST=db

# Superuser credentials used by Docker to initialize PostgreSQL
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASS=...

# Admin user with limited privileges (can create DBs and roles, but NOT superuser)
POSTGRES_ADMIN=admin_peptide_db
POSTGRES_ADMIN_PASS=...

# Regular user for the application with restricted permissions (e.g. read-only)
POSTGRES_RESTRICTED_USER=user_peptide_db
POSTGRES_RESTRICTED_USER_PASS=...

# Main database name
POSTGRES_DB=postgres

# Django environment variables
SECRET_KEY=...
DEBUG=True
PROJECT_NAME=peptide_project
DJANGO_SETTINGS_MODULE=peptide_project.settings
CELERY_BROKER_URL=redis://redis:6379/0
