<!-- organism_list.html -->
{% extends "catalog/base.html" %}
{% load tooltip_tags %}

{% block title %}
Lista de Organismos
{% endblock %}

{% block content %}
<!-- contenido de esta página -->


<h1>Organisms</h1>

<div class="organism-container">
    {% for organism in organisms %}
    <div class="organism-card">
        <div class="organism-block">
            <h3><em>{{organism.scientific_name}}</em></h3>
            <a href="{% url 'proteins-by-organism' scientific_name=organism.scientific_name|slugify %}">
                Show proteins from {{ organism.scientific_name }}</a>
            <hr>
            <div class="organism-details">
                <p><strong>Common Name:</strong> {{organism.common_name}}</p>
                <p><strong>Taxonomy:</strong>
                    <em>
                        {{ organism.kingdom }} {% tooltip_icon help_texts.kingdom "Help information about Kingdom" %} -
                        {{ organism.phylum }} {% tooltip_icon help_texts.phylum "Help information about Phylum" %} -
                        {{ organism.class_name }} {% tooltip_icon help_texts.class_name "Help information about Class"%}
                    </em>
                </p>
                <p><strong>NCBI URL:</strong> <a href="{{organism.ncbi_url}}" target="_blank">{{organism.ncbi_url}}</a>
                </p>

            </div>
        </div>
    </div>
    {% empty %}
    <p class="no-results">No organisms found.</p>
    {% endfor %}
</div>
{% endblock %}
