{% extends "shared/base.html" %}
{% load static %}

{% block content %}
<h2>Add Proteins from Organism</h2>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="message {{ message.tags }}">{{ message|linebreaksbr|safe }}</li>
    {% endfor %}
  </ul>
{% endif %}

<!-- {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} ... {% endif %} -->

<!-- Formulario para agregar organismo -->
<form
        method="post"
>
    {% csrf_token %}

    <!-- Campo nuevo organismo -->
    <p>
        Add a new organism:
        <input type="text" name="new_organism_scientific_name" placeholder="New organism scientific name">
        <button type="submit" name="action" value="add_organism">Add organism</button>
    </p>
</form>

<!-- Formulario para agregar proteinas de un organismo -->
<form
  method="post"
  hx-post="{% url 'add-proteins' %}"
  hx-target="#progress-container"
  hx-swap="innerHTML"
  id="proteinForm"
>
  {% csrf_token %}
  <label for="organism_select">Add/update proteins from an existing organism:</label>
  <select id="organism_select" name="existing_organism_scientific_name">
    <option value="">-- Choose an organism --</option>
    {% for org in organisms %}
      <option value="{{ org.scientific_name }}" {% if selected_organism == org.scientific_name %}selected{% endif %}>{{ org.scientific_name }}</option>
    {% endfor %}
  </select>

  <button type="submit" name="action" value="add_protein">Add Protein</button>
</form>

<script>
  document.getElementById('proteinForm').addEventListener('htmx:beforeRequest', function(event) {
    const select = document.getElementById('organism_select');
    if (select.value === '') {
      event.preventDefault();  // Cancela el envío de la petición HTMX
      alert('Por favor, selecciona un organismo antes de enviar.');
      select.focus();
    }
  });
</script>


<!-- Este div recibirá el bloque de progreso vía HTMX si se lanza una tarea -->
<div id="progress-container"></div>

{% endblock %}
