{% load pagination_tag %}

{% htmx_pagination page_obj "#protein-results" "&query={{ query }}&organism={{ selected_organism }}" %}

    {% for protein in page_obj %}
    <div class="organism-card">
        <h3>{{ protein.protein_name|default:"No name" }}</h3>
        <p class="organism-details"><strong>Gene Name:</strong> {{ protein.gene_name|default:"-" }}</p>
      <p class="organism-details"><strong>Organism:</strong> <em>{{ protein.organism.scientific_name }}</em></p>
        <p class="organism-details">


          <strong>Function:</strong>

          <span class="text-preview function"
                id="function-preview-{{ protein.id }}"
                data-id="{{ protein.id }}"
                data-full="{{ protein.protein_function|default:'No description available'}}"
                data-truncated="{{ protein.protein_function|default:'No description available'|truncatechars:50}}">
  {{ protein.protein_function|default:"No description available"|truncatechars:50 }}
</span>

          {% if protein.protein_function and protein.protein_function|length > 50 %}
          <a href="javascript:void(0);"
             class="toggle-link"
             id="toggle-link-{{ protein.id }}">
            Show more
          </a>
          {% endif %}



        <p class="organism-details">
            <strong>References:</strong>
            <span class="text-preview"
                  id="reference-preview-{{ protein.id }}"
                  data-full="{{ protein.references_text }}"
                  data-truncated="{{ protein.references_text_trunc }}">
              {{ protein.references_text_trunc|safe }}
  </span>

            {% if protein.references_text|length > protein.references_text_trunc|length %}
            <a href="javascript:void(0);"
               class="toggle-link"
               id="toggle-ref-{{ protein.id }}"
               onclick="toggleRef({{ protein.id }})">
              &nbsp;&nbsp;&nbsp; Show all references
            </a>
            {% endif %}
        </p>


    </div>

    {% empty %}
    <p class="no-results">No proteins found.</p>

    {% endfor %}


{% htmx_pagination page_obj "#protein-results" "&query={{ query }}&organism={{ selected_organism }}" %}


